$dark-blue: #13293d;
$med-blue: #006494;
$green-blue: #247ba0;
$gray: #e8f1f2;
$salmon: #ff6666;

body{
  background-color: $gray;
  color: $med-blue;
}

div#error {
  background-color: $salmon;
  border: solid 1px $dark-blue;
  border-radius: 5px;
  color: $gray;
  display:none;
  font-size: 1.1em;
  margin-left: 25%;
  margin-top: 10px;
  max-width: 40%;
  min-height: 30px;
  padding: 12px 0 6px;
  text-align: center;
}

div#results {
  display: none;
}

.jumbotron {
  background-color: $dark-blue;
  h1 {
    color: $gray;
    text-align: center;
  }
}



.btn {
  font-size: 1.1em;
  margin: 10px 5px;
  min-width: 100px;
}

.form-wrapper {
  display: block;
  padding-left: 25%;
  font-size: 1.3em;
  input#username {
    font-size: 1.2em;
    max-width: 60%;
  }
  select#per-page {
    font-size: 1.1em;
    max-width: 20%;
  }
}
